@font-face {
  font-family: FZRui;
  src: url(/common/fonts/FZRuiZHJW.woff2) format("woff2");
}

@font-face {
  font-family: Cubic;
  src: url(/common/fonts/Cubic.woff2) format("woff2");
}

@font-face {
  font-family: electrolize;
  src: url(/common/fonts/electrolize.woff2) format("woff2");
}

@font-face {
  font-family: kenyan;
  src: url(/common/fonts/kenyancoffee.woff2) format("woff2");
}

@font-face {
  font-family: huangyouti;
  src: url(/common/fonts/huangyouti.woff2) format("woff2");
}

@font-face {
  font-family: Aldrich;
  src: url(/common/fonts/Aldrich-Regular.woff2) format("woff2");
}

@font-face {
  font-family: FZWH;
  src: url(/common/fonts/FZWH.woff2) format("woff2");
}

@font-face {
  font-family: Bombard;
  src: url(/common/fonts/BOMBARD_.woff2) format("woff2");
}

@font-face {
  font-family: OldTypeNr;
  src: url(/common/fonts/OldTyperNr.woff2) format("woff2");
}

* {
  cursor: url(/template/embark.png), auto;
}

main {
  position: absolute;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
}

input {
  accent-color: var(--theme-color);
}

p {
  margin: 0;
}
